.Profile * {
    box-sizing: border-box;
}

.Profile, button{
    font-family: 'Raleway', sans-serif;
}

.previewComponent {
    margin: 10px;
}

.previewComponent form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.userImg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+51,ffffff+51,ffffff+51 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top, #000000 51%, #ffffff 51%, #ffffff 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000000 51%,#ffffff 51%,#ffffff 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #000000 51%,#ffffff 51%,#ffffff 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.userImg img{
    margin: 10px;
    width: 30%;
    border-radius: 1000px;
    box-shadow: 0px 0px 0px 2px palevioletred,0px 0px 0px 4px rgba(0,0,0,0.22)
}

.userName {
    font-weight: bold;
    font-size: 1.2rem;
}

.userStats {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.followers, .lookCount {
    height: 100%;
    display: flex;
}

.followers *, .lookCount * {
    padding: 2px;
}

.lookGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gridImg {
    padding: 5px;
    width: 48%;
    margin: 3px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in 0ms;
}

.gridImg:hover {
    transform: scale(1.04);
}

.gridImg img {
    width: 100%;
   
}

.gridImg .stats {
    display: flex;
    justify-content: center;

}

.gridImg .stats p {
    margin: 0;
    font-size: 1.0rem;
}

.gridImg .stats img {
    width: 10%;
    height: 1.2rem;
    margin: 2px;
}

.addLook {
    position: fixed;
    top: 92vh;
    left: 75vw;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 25px;
    background-color: hotpink;
    border: 0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0px 6px 10px rgba(0,0,0,0.22);
    padding: 10px 22px 10px 22px;
    font-weight: bold;
    min-width: 120px;
}

.addLook:focus {
    outline: none;
}

.imgPreview img {
    width: 80%;
}