.App {
  text-align: center;
}


.Nav {
  text-align: center;
  color: white;
  background: black;  
}

.Nav div {
  display: inline-block;
  padding: 10px;
}

.home-logo, .profile-logo {
  vertical-align: bottom;
  transform: scale(1.5);
}

.titleText {
  font-family: 'Lobster', cursive;
  font-size: 2.0rem;
  width: 50%;
}

.titleText p {
  margin: 0rem;
}