.App {
  text-align: center;
}

.Nav {
  position: fixed;
  width: 100vw;
  text-align: center;
  color: white;
  background: black;  
  z-index: 1;
}

.Nav div {
  display: inline-block;
  padding: 10px;
}

.home-logo, .profile-logo {
  vertical-align: bottom;
  transform: scale(1.5);
}

.titleText {
  font-family: 'Lobster', cursive;
  font-size: 2.0rem;
  width: 50%;
}

.titleText p {
  margin: 0rem;
}

.hoz-appear {
  opacity: 0.01;
}

.hoz-appear.hoz-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.hoz-enter {
  transform: translate3d(100%, 0, 0);
}

.hoz-enter.hoz-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all ease 600ms;
}

.hoz-leave {
  transform: translate3d(0, 0, 0);
}

.hoz-leave.hoz-leave-active {
  transform: translate3d(-200%, 0, 0);
  transition: all ease 600ms;
}

.reverseHoz-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  transform: translate3d(0, 0, 0);
}

.reverseHoz-leave.reverseHoz-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all ease 600ms;
}

.reverseHoz-enter {
  transform: translate3d(-100%, 0, 0);
}

.reverseHoz-enter.reverseHoz-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all ease 600ms;
}

.vert-enter {
  transform: translate3d(0, 100%, 0);
}

.vert-enter.vert-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all ease 600ms;
}

.vert-leave {
  transform: translate3d(0, 0, 0);
}

.vert-leave.vert-leave-active {
  transform: translate3d(0, -200%, 0);
  transition: all ease 600ms;
}

.reverseVert-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  transform: translate3d(0, 0, 0);
}

.reverseVert-leave.reverseVert-leave-active {
  transform: translate3d(0, 100%, 0);
  transition: all ease 600ms;
}

.reverseVert-enter {
  transform: translate3d(0, -100%, 0);
}

.reverseVert-enter.reverseVert-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all ease 600ms;
}

.Switcher {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100px;
}

.Profile {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100px;
}

.ViewProds {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100px;
}
