.Switcher {
    margin-top: 5vh;
}

.Switcher div {
    display: block;
}

.left {
    float: left;
    margin-left: 20%
}

.right{
    float: right;
    margin-right: 20%
}

.buttonBox {
    display: inline;
}

.Switcher button {
  border-radius: 100px;
  background-color: hotpink;
  border: 0px;
  height: 50px;
  width: 50px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
}


.dislike, .like {
    transform: scale(1.5);
}

.dislike img, .like img{
    transform: translateY(2px);
}

.InfoLook {
    width: 100%;
}

.InfoLook img {
    width: 80%;
}

.InfoLook div{
    display: block;
}
